<?xml version="1.0"?>
<configuration>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\GitProjects\WCF\Host\Web_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>

          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="nettcpBehaviour">
        </behavior>
        <behavior name="webHttpBehaviour">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <bindings>
      <wsHttpBinding>
        <binding name="wshttpBindingConfig">
          <security mode="Message">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="WCFDemoService.Service1">
        <endpoint name="BasicHttpBindingDemo" address="WCFSampleBasicBinding" binding="basicHttpBinding"
          contract="WCFDemoService.IService1" />
        <endpoint address="WCFSampleWSHttpBinding" binding="wsHttpBinding" bindingName="wshttpBindingConfig"
          name="WSHttpBindingDemo" contract="WCFDemoService.IService1" />
        <endpoint address="WCFSampleWebHttpBinding" binding="webHttpBinding" behaviorConfiguration="webHttpBehaviour"
          name="WebHttpBindingDemo" contract="WCFDemoService.IService1" />
        <endpoint address="" binding="netTcpBinding" behaviorConfiguration="nettcpBehaviour"
          name="NetTcpBindingDemo" contract="WCFDemoService.IService1" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/" />
            <add baseAddress="https://localhost:443/" />
            <add baseAddress="net.tcp://localhost:8734/WCFSampleNetTcpBinding" />
          </baseAddresses>
        </host>
      </service>
     
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
