<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBindingDemo" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBindingDemo" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBindingDemo" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://serwan-pc:8085/Service.svc/WCFSampleBasicBinding"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingDemo"
                contract="WCFServiceDemo.IService1" name="BasicHttpBindingDemo" />
            <endpoint address="http://serwan-pc:8085/Service.svc/WCFSampleWSHttpBinding"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBindingDemo"
                contract="WCFServiceDemo.IService1" name="WSHttpBindingDemo">
                <identity>
                    <servicePrincipalName value="host/serwan-PC" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://serwan-pc:8734/Service.svc" binding="netTcpBinding"
                bindingConfiguration="NetTcpBindingDemo" contract="WCFServiceDemo.IService1"
                name="NetTcpBindingDemo">
                <identity>
                    <servicePrincipalName value="host/serwan-PC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>